.text-wrapped-element {
  max-width: 100%;
  .element {
    max-width: 50%;
    max-height: 100%;
    float: left;
    padding: 0 1rem 0 0;
  }
  .text-wrapped {
    max-width: 100%;
  }
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}