
.website-footer {
    max-width: 100%;
    height: 100;
    padding: var(--inner-element-padding);
    margin: var(--top-spacing) 0px 0px 0px;

    display: grid;
    place-content: center;
  
    background-color: var(--clr-surface);
    color: var(--clr-text);
    border-radius: var(--br-master) var(--br-master) 0px 0px;
  
  }
  
  .footer__title {
    color: var(--clr-accent);
  }

  // .footer__text{
  //   color: var(--clr-text);
  // }

  #mc_embed_signup {
    
    font-family: var(--default-font);
    font-size: var(--fs-100);

   color: var(---clr-text);

  }

  #mc_embed_signup_scroll {
    h2{
      color: var(--clr-accent);
    }
    p{
      color: var(---clr-text);
      }
  }
  
  .mc-field-group {
    display: grid;
    grid-template-rows: 1fr;
    place-content: center;

    padding: 0px;
    margin: var(--top-spacing) 0px 0px 0px;
  }

  label {
    font-weight: var(--fw-600);
    font-size: var(--fs-200);
    color: var(--clr-accent);
  }

  .mc-field-group input {
    border-radius: var(--border-radius);
    background-color: var(--clr-background);
    color: var(---clr-text);
  }

  .optionalParent {
    max-width: 100%;
    display: grid;
    place-content: center;
  }

#mc-embedded-subscribe {
  max-width: 100%;
  margin: var(--top-spacing) 0px 0px 0px;
  font-weight: var(--fw-500);
  background-color: var(--clr-primary);
  border-radius: var(--border-radius);

  transition: background-color var(--transition-time) ease;
  :hover {
    background-color: var(--clr-accent);
  }
}

  