.amazon-product {
    max-width: 100%;
  
  }
  
  .amazon-product__button {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  
    p {
      border-radius: var(--border-radius);
      text-align: center;
      padding: var(--inner-element-padding) 0px;
      font-weight: var(--fw-600);
  
      background-color: var(--clr-primary);
      color: var(--clr-background);
  
      transition: background-color var(--transition-time) ease;
    }
    p:hover {
      background-color: var(--clr-accent);
    }
  }
  
  p {
    a {
      // text-decoration: underline;
      font-style: italic;
    }
    a:hover {
      color: var(--clr-primary);
      font-weight: var(--fw-600);
    }
  }