{{ block "homePage" . }}
<div class="w-full h-full flex flex-col gap-8">
    {{ template "header.html" . }}
    <main>
        <section class="w-full h-fit flex flex-col gap-8">
            <article class="w-full h-fit flex flex-col gap-4">
                <p>
                    I make apps the feel native, but on the web. Rich user experiences, low latency interaction, and
                    sites that lend to high conversion are my bread and butter.
                </p>
                <p>
                    Subscribe to get future blog posts via email.
                </p>
                {{ template "email-input.html" . }}
            </article>
            {{ template "divider.html" . }}
        </section>
        <article>
            <h2>Blog</h2>
        </article>
        <article>
            <h2>Projects</h2>
        </article>
    </main>
    {{ template "footer.html" . }}
</div>
{{ end }}
