package components

templ Button(text, dataId string) {
	<button
		data-id={ dataId }
		submit
		class="w-min h-min bg-primary rounded font-medium text-lg text-background p-[10px] hover:bg-secondary transition-all ease-out duration-100"
	>
		{ text }
	</button>
}
