{{define "footer" .}}
<footer class="w-full h-fit flex flex-col gap-8 items-center justify-center">
    {{template "divider.html" .}}
    <section class="w-full h-fit flex flex-col gap-5">
        <article class="w-full h-fit flex flex-col items-center justify-center gap-4">
            <p class="font-medium text-base text-text">Subscibe to get future blog post via email.</p>
            {{template "email-input.html".}}
        </article>
        <div class="w-fit h-fit flex flex-row items-center justify-center gap-3">
            <img src="images/logo-x.svg" alt="The X logo" decoding="async" loading="lazy" width="32px" height="32px"
                class="opacity-60" />
            <img src="images/logo-github.svg" alt="The Github logo" decoding="async" loading="lazy" width="32px"
                height="32px" class="opacity-60" />
        </div>
    </section>
    <aside class="w-full h-fit flex flex-row items-center justify-start gap-1 font-medium text-xs text-text-op">
        <span>All Rights Are Yours.</span>
        <span>
            <img src="images/initials-as-fake-copyright.svg" decoding="async" loading="lazy"
                alt="This is a decoratorative mark of two circle with the initials C W inside them." width="33px"
                height="15px" />
        </span>
        <span>
            Christian Williams {{currentYear .}}.
        </span>
    </aside>
</footer>
{{end}}
