package templates

templ Header(imageSource string) {
	<header 
        class="w-full h-11 flex flex-row gap-2"
    >
		<img
			src={ imageSource }
			alt="A headshot of Christian wear a white button up shirt infront of a navy blue backdrop"
			class="border-none rounded-full"
		/>
		<p class="font-bold text-text text-[28px]">I'm Christian Williams</p>
	</header>
}
