{{ define "main-layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.Title}}</title>

    <!-- seo -->
    <meta name="description" content="{{.Description}}">
    <meta name="keywords" content="{{convertKeywordSliceToString .Keywords}}">
    <meta name="robots" content="index, follow">

    <!-- og images -->
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{.Description}}">
    <meta property="og:image" content="images/headshot/headshot-christian-400x400.jpg">
    <meta property="og:url" content="{{.PageUrl}}">

    <!-- twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chr1stianwill">
    <meta name="twitter:title" content="{{.Title}}">
    <meta name="twitter:description" content="{{.Description}}">
    <meta name="twitter:image" content="images/headshot/headshot-christian-400x400.jpg">
    <meta name="author" content="Christian Williams">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <!-- includes header main footer -->
    {{.Content}}
</body>

</html>
{{ end }}
