<header>
    <nav class="nav-bar">
      <a href="/">
        <svg
          class="logo"
          viewBox="0 0 1080 1080"
          style="enable-background: new 0 0 1080 1080"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
        
          <g id="mark">
            <circle cx="473.7" cy="451.2" r="33.2" />
            <circle cx="606.7" cy="513.1" r="24.9" />
            <path class="st0" d="M548.5,662.1c-5-127.9,120-127.9,115.5,0" />
            <path
              class="st1"
              d="M415.9,662.1c0.6-81.3,30.2-146.9,89.4-146.9c20.6,0,39.5,11.6,54.7,31"
            />
          </g>
        </svg>
      </a>
      <div class="horizontal-divider"></div>
    </nav>
  </header>