:root {
	--font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: light) {
	:root {
		--text: rgb(12, 23, 29);
		--text-trpt: ;
		--surface: ;
		--background: rgb(244, 247, 251);
		--primary: rgb(52, 146, 213);
		--secondary: rgb(123, 191, 239);
		--accent: rgb(85, 179, 247);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: rgb(226, 237, 243);
		--text-trpt: ;
		--surface: ;
		--background: rgb(4, 7, 11);
		--primary: rgb(42, 136, 203);
		--secondary: rgb(16, 84, 132);
		--accent: rgb(8, 103, 170);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	color: var(--text);
}
