:root {
	--font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: light) {
	:root {
		--value-text: 12, 23, 29;
		--text: rgb(var(--value-text));
		--text-op: rgba(var(--value-text), 0.6);

		--value-primary: 52, 146, 213;
		--primary: rgb(var(--value-primary));
		--surface: rgba(var(--value-primary), 0.1);

		--secondary: rgb(123, 191, 239);
		--accent: rgb(85, 179, 247);
		--background: rgb(244, 247, 251);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--value-text: 226, 237, 243;
		--text: rgb(var(--value-text));
		--text-op: rgba(var(--value-text), 0.6);

		--value-primary: 42, 136, 203;
		--primary: rgb(var(--value-primary));
		--surface: rgba(var(--value-primary), 0.1);

		--secondary: rgb(16, 84, 132);
		--accent: rgb(8, 103, 170);
		--background: rgb(4, 7, 11);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	color: var(--text);
}
