---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import HeadElement from '../components/HeadElement.astro';



const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <HeadElement>
    <title>{frontmatter.title }</title>
  </HeadElement>
  <body class="content__bg" >

    <Header></Header>
    <main class="main-content-wrapper" >
      <article>
        <section id="hero-section">
          <div class="hero-section__cva">
            <img
              class="hero__image"
              alt={frontmatter.imageALT }
              loading="lazy"
              src={frontmatter.image }
              sizes="(max-width:780px) 100vw, 780px"
              srcset={frontmatter.imageSrcset }
            />
            <div class="hero__title-background">
              <div class="hero__title-wrapper">
                <h1>{frontmatter.title }</h1>
                <p class="author-credit">
                  By: Mr.Will<span class="author-credit__date"
                    >Date: {frontmatter.date }</span
                  >
                </p>
              </div>
            </div>
          </div>
          <p>{frontmatter.description } </p>
        </section>
        <slot><slot />
      </article>
      <Footer></Footer>
    </main>
  </body>
</html>

